/* SCSS Variables */

// =========== Base Font ===========

$base-font-family: "Helvetica Neue", sans-serif;

// =========== Colors ===========

$black :#000000;
$light-grey:#E1E1E1;


// =========== Borders ===========

$border-color: $light-grey;


// =========== Gutter ===========

$gutter-sm: 10px;
$gutter: 20px;
$gutter-lg: 30px;