<div class="wrapper" id="product-display">
  <header class="prod_header">
    <h1 class="prod_name">
      Name: {{ data.name }}!
    </h1>
  </header>
<div class="product_wrapper">
  <div class="prod_box prod_img_box">
    <img class="prod_img" width="300" alt="Hat" [src]="data.image">
  </div> 

  <div class="prod_box prod_description_box">
  <section class="prod_box prod_description">
    <h2>Description: </h2>
    <p>{{data.description}}</p>
  </section>
  
  <section class="prod_box price_prod_box">
      <h3>Price:
      <span>{{data.price.amount}}</span>
      <span>{{data.price.currency}}</span>
      </h3>
    <div class="product_properties">
      <ul>
        <li *ngFor="let prop of data.properties">
          <h4>{{prop.name}}:{{prop.value}}</h4>
        </li>
      </ul>
    </div>
    <h3 class="brand">Brand {{data.brand}}</h3>
    <h3 class="sku">SKU: {{data.sku}}</h3> 
  </section>
  </div>
</div>
